:root{
    --bg : linear-gradient(to right, #CFDEF3, #E0EAFC); /* fallback for old browsers */
    --text-color :black;
    --bg-card :#ffff;
    --border-color:rgba(25, 24, 24, 0.691);
    --button-bg-color:#e1dddd;
}
body{  
    background:var(--bg);
    margin: 35px 70px 10px 70px;
}
body.dark{
    --bg : linear-gradient(to right, #243b55, #141e30);  /* fallback for old browsers */
    --text-color :#ffff;
    --bg-card :#141414c5;
    --border-color:rgba(231, 226, 226, 0.691);
    --button-bg-color:#222121f1;
}
header{
    display: flex;
    justify-content: space-between;
    margin: 0px 0px 20px 0px;
    padding: 6px;
    background:var(--bg-card);

    border-radius: 15px;
}
#sun{ 
    height: 40px;
    width: 40px; 
    background:var(--button-bg-color) ;
    margin:2px;
    padding-top:2px;
    border-radius: 10px;
    border:none;
    cursor: pointer;
}
#sun:hover{
    background: #ffffff21;
}

#state{
    height:17px;
}
.logo{
    height:35px; 
    padding :5px
}
/* debut de la section filtre */

#extensions {
    margin-top:32px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    flex-direction:row;
    flex-wrap: wrap;
    
}
.buttonItems{
    display:flex;
    gap:7px;
    position: relative;
    top: 20px;
}
#extensions .buttonItems button:hover{
    background: #ffffff21;
    color: #ffff;
}
#extensions .buttonItems button:active{
    background: hsl(3, 77%, 44%) ;
    color: #ffff;
}


#extensions .buttonItems button{
  height:35px;
  width:auto;
  border-radius:20px;
  border:none;
  padding: 0px 20px 0 20px;
  background: var(--bg-card);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.119);
  cursor: pointer;
}
.filtertext{
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  color: var(--text-color);
  font-size:larger;
}
#extensions h1{
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  color: var(--text-color);
  font-size:33px;
 
} 

/* debut des block extention */
#extensionsList{
    position: absolute;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.extensionBlock{
    height: 150px;
    width: 350px;
    border:0.5px solid #ffffff;
    border-radius: 15px;
    background-color: var(--bg-card);
    margin: 10px;
    padding:20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.119);
}
.extensionBlock img {
  height:auto;
  width: auto;
  display: inline-block;
}
.title{
  display: inline-block;
  position: relative;
  top:-1.6em;
  font-family:"Figtree", sans-serif;
  font-optical-sizing: auto;
  color: var(--text-color);
  font-size:25px;

  margin:0 10px;

}
.description{
  height:auto ;
  position:relative;
  top:-3.3em;
  left:4.3em;
  width:17em ;
  font-family:"Figtree", sans-serif;
  font-optical-sizing: auto;
  color: var(--text-color);
  font-size:17px;
  opacity: 0.7;
}
.fouter{
    display: flex;
    justify-content: space-between;
    position:relative;
    bottom:2.5em;
}
.remove{
    height:2.5em;
    width:6em;
    border-radius:20px;
    border:0.5px solid var(--border-color);
    position: relative;
    background-color:var(--bg-card);
    
    font-weight: 550;
    font-family: "Figtree", sans-serif;
    color: var(--text-color);
    font-optical-sizing: auto;
}

.switch{
    position: relative;
    right:1em;
    top: 7px;
    height: 20px;
    width:37px;
    display: inline-block;
}
.switch input{
    display: none;
}
.slider {
  position: absolute;
  inset: 0;
  background: #ccc;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s;

}
.slider::before {
  content: "";
  width: 14px;
  height: 14px;
  margin: 2px;
  position: absolute;
  top: 1px;
  left: 1px;
  background: #fff;
  border-radius: 50%;
  transition: 0.3s;
}
input:checked + .slider{
    background:hsl(3, 77%, 44%) ;
}
input:checked + .slider::before{
    transform: translateX(16px);
}
