body{
    background: #E0EAFC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin: 35px 70px 10px 70px;
}
header{
    display: flex;
    justify-content: space-between;
    margin: 0px 0px 20px 0px;
    padding: 6px;
    background: #ffff;

    border-radius: 15px;
}
#sun{ 
    height: 40px;
    width: 40px; 
    background: #d4cece;
    margin:2px;
    border-radius: 10px;
    border:none;
    cursor: pointer;
}
.logo{
    height:35px; 
    padding :5px
}
/* debut de la section filtre */

#extensions {
    margin-top:32px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    flex-direction:row;
    flex-wrap: wrap;
    
}
.buttonItems{
    display:flex;
    gap:7px;
    position: relative;
    top: 31px;
}
#extensions .buttonItems button:hover{
    background:hsl(3, 77%, 44%);
    color: #ffff;
}
#extensions .buttonItems button{
  height:35px;
  width:auto;
  border-radius:20px;
  border:none;
  padding: 0px 20px 0 20px;
  background: #ffff;
}
.filtertext{
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto; 
  font-size:larger;
}
#extensions h1{
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-size:39px;
 
} 


