body{
    background:rgb(129, 127, 255);
}
header{
    display: flex;
    justify-content: space-between;
    margin: 35px 70px 10px 70px;
    padding: 6px;
    background: #ffff;

    border-radius: 15px;
}

#sun{ 
    height: 40px;
    width: 40px; 
    background: #d4cece;
    margin:2px;
    border-radius: 10px;
    border:none;
}
.logo{
    height:35px; 
    padding :5px
}

