body{
    background: #E0EAFC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin: 35px 70px 10px 70px;
}
header{
    display: flex;
    justify-content: space-between;
    margin: 0px 0px 20px 0px;
    padding: 6px;
    background: #ffff;

    border-radius: 15px;
}
#sun{ 
    height: 40px;
    width: 40px; 
    background: #e1dddd;
    margin:2px;
    padding-top:2px;
    border-radius: 10px;
    border:none;
    cursor: pointer;
}
#sun:hover{
    background: #a19f9f;;
}
#state{
    height:17px;
}
.logo{
    height:35px; 
    padding :5px
}
/* debut de la section filtre */

#extensions {
    margin-top:32px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    flex-direction:row;
    flex-wrap: wrap;
    
}
.buttonItems{
    display:flex;
    gap:7px;
    position: relative;
    top: 20px;
}
#extensions .buttonItems button:hover{
    background:hsl(3, 77%, 44%);
    color: #ffff;
}
#extensions .buttonItems button{
  height:35px;
  width:auto;
  border-radius:20px;
  border:none;
  padding: 0px 20px 0 20px;
  background: #ffff;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.119);
  cursor: pointer;
}
.filtertext{
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto; 
  font-size:larger;
}
#extensions h1{
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-size:33px;
 
} 

/* debut des block extention */
#extensionsList{
    position: absolute;
}
.extensionBlock{
    height: 150px;
    width: 350px;
    border:0.5px solid #ffffff;
    border-radius: 15px;
    background-color: #ffff;
    margin: 10px;
    padding:20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.119);
}
.extensionBlock img {
  height:auto;
  width: auto;
  display: inline-block;
}
.title{
  display: inline-block;
  position: relative;
  top:-1.6em;
  font-family:"Figtree", sans-serif;
  font-optical-sizing: auto;
  font-size:25px;

  margin:0 10px;

}
.description{
  height:auto ;
  position:relative;
  top:-3.3em;
  left:4.3em;
  width:17em ;
  font-family:"Figtree", sans-serif;
  font-optical-sizing: auto;
  font-size:17px;
  opacity: 0.7;
}
.fouter{
    display: flex;
    justify-content: space-between;
    position:relative;
    bottom:2.5em;
}
.remove{
    height:2.5em;
    width:6em;
    border-radius:20px;
    border:0.5px solid rgba(25, 24, 24, 0.691);
    position: relative;
    background-color: #ffff;
    
    font-weight: 550;
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
}

.switch{
    position: relative;
    right:1em;
    top: 7px;
    height: 20px;
    width:37px;
    display: inline-block;
}
.switch input{
    display: none;
}
.slider {
  position: absolute;
  inset: 0;
  background: #ccc;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s;

}
.slider::before {
  content: "";
  width: 14px;
  height: 14px;
  margin: 2px;
  position: absolute;
  top: 1px;
  left: 1px;
  background: white;
  border-radius: 50%;
  transition: 0.3s;
}
input:checked + .slider{
    background:hsl(3, 77%, 44%) ;
}
input:checked + .slider::before{
    transform: translateX(16px);
}
